.shop-area {
    background: #F8F8F8;   
}
.margin-top10 {
    margin-top: 10px;   
}
.new {
    color: white;
    padding: 2px;
    margin: 1px;
    background-color: red;
    border-radius: 5px;
}
.hot {
    color: white;
    padding: 2px;
    margin: 1px;
    background-color: orange;
    border-radius: 5px;
}
.footer-text {
    color: grey;   
}
.margin-top50 {
    padding-top: 50px; 
}
.skype-nick {
    margin-left: 4px;   
}
.vk-nick {
    margin-left: 4px;   
}
.icq-nick {
    margin-left: 4px;   
}
.img-center {
    text-align: center;
}
.paddign-top50 {
    padding-top: 50px;   
}
.padding10 {
     margin: 10px;   
}